@if (Session["UserID"] != null)
{ 
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Welcome "+Session["FullName"], "Login", "Home")</li>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
        </ul>
    </div>
}
else
{
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Login", "Login", "Home")</li>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
        </ul>
    </div>
}