
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Placeholder text
    </div>
    <div>Session DonationID is @Session["DonationID"]</div>
    <div>Session Firstname is @Session["FirstName"]</div>
    <div>Session Price is @Session["Price"]</div>
</body>
</html>
